<section ng-controller="UsersCtrl as usersCtrl">
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="jon@cab.tld" ng-model="usersCtrl.user.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="*******" ng-model="usersCtrl.user.password">
        </div>
        <button class="btn btn-default" ng-click="usersCtrl.login()">Log in</button>
      </form>
    </div>
  </div>
  <div class="row" ng-show="usersCtrl.loginError">
    <div class="col-md-6">
      <div>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <div class="panel-title">Login failed, please try again</div></div>
          </div>
      </div>
    </div>
  </div>
</section>
