<div class="home" ng-controller="PlacesCtrl as placesCtrl">
  <div class="row">
    <h1>Welcome / Καλώς Ήρθατε</h1>
    <p>BorderShare is an information distributor for anything you can do to help the refugee problem. We collect all the refugee drop-in points for food, clothes and everything they might need.</p>

    <p>Το BorderShare διακινεί την πληροφορία σχετικά με το πως μπορείς να βοηθήσεις το πρόβλημα με τους πρόσφυγες. Συγκεντρώνουμε όλα τα σημεία δωρεάς αγαθών προς διανομή σε προσφυγικούς καταυλισμούς. Μπορείς να βοηθήσεις;</p>
  </div>
  <h1 class="no-margin-bottom">Places</h1>

  <div class="filters">
    <h4>Area Filters</h4>
    <span>Active: {[{ placesCtrl.activeAreaFilter }]}</span>
    <ul class="area-filter-items">
      <li ng-repeat="areaFilter in placesCtrl.filterAreaItems">
        <a ng-href="/" title="Αφαιρέστε τα φίλτρα" ng-bind="placesCtrl.filterAreaItemLabels[$index]" ng-show="areaFilter == 'all'" ng-class="{selectedfilter: placesCtrl.activeAreaFilter === ''}"></a>
        <a ng-href="/?area={[{areaFilter}]}" title="Φιλτράρετε ανά περιοχή" ng-bind="placesCtrl.filterAreaItemLabels[$index]" ng-show="areaFilter != 'all'" ng-class="{selectedfilter: areaFilter === placesCtrl.activeAreaFilter}"></a>
      </li>
    </ul>
  </div>
  <div class="row">
    <!-- ENTRIES -->
    <div class="col-md-3" ng-repeat="place in placesCtrl.places">
      <div class="entry">
        <div class="entry-title">
          <div class="name" ng-bind="place.name"></div>
        </div>
        <div class="entry-text">
          <div class="address">
            <span ng-bind="place.address1"></span>
            <span>, </span>
            <span ng-bind="place.area"></span>
          </div>
          <div class="available" ng-bind="place.available"></div>
          <div class="collecticons">
            <img src="/assets/img/mark.png" alt="Adult Food" title="Adult Food" ng-show="place.collectingIcons.adultFood">
          </div>
          <div><a ng-href="#place/{[{place.objectId}]}">Go to item</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
