<footer class="footer">

  <div class="row">
    <div class="col-md-8 info">
      <p class="copyright">
        &copy; 2015
        <a target="_blank" href="www.shesharp.org">SheSharp</a> &amp;
        <a target="_blank" href="http://skgtech.io/">SKGTech</a>,
        source under the
        <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.
      </p>

      <p class="license">
        The content property of their respective owners, the rest
        <a target="_blank" href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0</a>.
      </p>
    </div>

    <div class="col-md-4">
      <p class="sourcecode">
        <a target="_blank" href="https://github.com/SheSharpGr/BorderShare">View the Source Code of this site</a>
      </p>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="/scripts/app.js"></script>
</footer>
